@keyframes expand {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
}

.eventbox-main {
  position: absolute;
  align-self: center;
  padding: 40px;
  animation: expand 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  text-align: center;
}

.shrink {
  transition-duration: 0.5s;
  opacity: 0;
}

.eventbox-p {
  color: rgb(178, 252, 239);
  text-shadow: 0px 2px 7px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 5px;
}

.eventbox-button {
  color: rgb(255, 199, 234);
  text-shadow: 0px 2px 7px;
  position: absolute;
  bottom: 50px;
  left: 10px;
  padding: 10px;
  
  border: 2px solid #dadada;
  border-radius: 30px;
  border-color:rgb(255, 111, 202);
  box-shadow:0 0 10px rgb(255, 126, 208);
  background-color: rgb(90, 18, 63);
  transition-duration: 0.3s;
}

.eventbox-button:hover {
  color: rgb(229, 182, 212);
  border-color:rgb(255, 3, 164);
  box-shadow:0 0 10px #ebb1d7;
  background-color: rgb(126, 86, 113);
  transition-duration: 0.3s;
  cursor: pointer;
}