.home-main {
  background-color: #1a1f29;
  min-height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.home-events-container {
  align-items: center;
  justify-content: center;
  display: flex;
}

.topBar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  background-color: #2a2f3a;
  color: rgb(255, 255, 255);
}
.spacer {
  flex: 1
}
.home-title {
  padding-left: 20px;
  padding-right: 20px;
  color: #fe5615;
  text-shadow: 0px 0px 10px;
}

.abel-font {
  font-family: 'Abel', sans-serif;
}
.barcode-font {
  font-family: 'Libre Barcode EAN13 Text', cursive;
}
.share-tech-font {
  font-family: 'Share Tech Mono', monospace;
}
.syne-font {
  font-family: 'Syne Mono', monospace;
}